---
layout: default
title: Home
---

<h1 class="a-title">Hello.</h1>
<p><i><b>devential</b></i> doesn’t exactly mean anything. It could very well be a random string of letters, and I’d still use at as my website title anyway.</p>
<p>This is the personal website of <b>Micholo Medrana</b>, budding researcher at the [Video and Image Processing group](http://sites.google.com/site/instrumentationphysicslab/research/vip), National Institute of Physics, UP Diliman.</p>
<h4 class="a-subtitle3">You might want to visit my <strong><a href="/blog/">blog</a></strong>, or read more <strong><a href="/about/">about me</a></strong>.</h4>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | postmorefilter: page.url, "Read more" }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->
